
.div0{
	
	text-align: center;
	width: 100%;
	height: 300px;
	background-color: #ffffff;
	/*opacity: 0.6;
    filter: alpha(opacity=60);*/
}


.div1{
	background-image: url("images/wallpaper.jpg");
    min-height: 1080px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo{
	width: 400px;
	height: 290px;
}

.div2{
	width: 90%;
	background-color: white;
	height: 70px;

}

.div3
{
	width: 100%;
}

.div4{
	width: 100%;
	text-align: center;
	background-color: white;
	opacity: 0.9;
    filter: alpha(opacity=100);
    height: 700px;
}

.div5{
	width: 100%;
	height: 400px;
	background-color: white;	
	opacity: 0.6;
    filter: alpha(opacity=60);
    text-align: center;
    font-size: 80px;
	font-weight:bold; 
}

.div4-2{
	width: 100%;
	text-align: center;
	background-color: white;
	opacity: 0.9;
    filter: alpha(opacity=100);
    height: 1000px;
}



.menulista {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;/*Que hacer si el contenido excede el tamaño*/
    background-color: #D8D8D8;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

li {
    float: left;
}

li a {
    display: inline-block;/*Una sola linea creando bloques*/
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;/*Quitar subrayado*/
    font-size: 30px;
	font-weight:bold; 
}

li a:hover {
    background-color: #A4A4A4;
}

.link{
	text-decoration: none;
	color: black;
    font-size: 15px;
	font-weight:bold; 
}

.p1{
	text-align: right;
}


.titulos{
	font-size: 60px;
}

#img{
	width: 600px;
	height: 400px; 
}

.personajes
{
	width: 30%;
	height: 500px;
	border-style: groove;
	border-width: 8px;
	margin-left: 10%;
	float: left;
}

td{
	width: 50%;
	border-style: groove;
	border-width: 2px;
	font-size: 20px;
}

tr{
	height: 20%;
	border-style: groove;
	border-width: 2px;
}

#image{
	width: 90px;
	height: 90px;
}

.second
	{
		width: 50%;
		height: 100%;
		float:left;
	}

.enmedio
	{

		width: 10%;
		height: 100%;
		float:left;
	}

.nombre
{
	font-size: 25px;
}

.texto
{
	font-size: 18px;
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
}

.cuadrito{
	width: 200px;
	height: 100px;
	overflow: auto;
}

.frame{
	width: 370px;
	height: 505px;
	overflow-y:hidden; 
}

.cuadrito1
{
	width: 100px;
}

.cuadrito2{
	width: 50px;
}